body{
    margin-left: 20px;

}
.chat{
    padding: 20px;
    background-color:  olive;
        border-radius:  20px;
        display: inline-block;
}

.msg{
    background-color: dodgerblue;
    color: whiite;    
}
